
    <div class="ion-page" id="maincontent">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button menu="mainmenu"></ion-menu-button>
          </ion-buttons>
          <ion-title>MAWEY</ion-title>
        </ion-toolbar>

      </ion-header>
    
   <ion-content>
     <ion-menu side="start" menuId="mainmenu" contentId="main">
    
      



      <ion-content> 

          <ion-list *ngIf = "perfilUsuario == 'dueño' || perfilUsuario == 'supervisor'" >
            <ion-item routerLink="/registrar">
              <ion-icon name="ellipsis-horizontal-outline" slot="start"></ion-icon>
              <ion-label>Clientes pendientes</ion-label>
            </ion-item>
            <ion-item routerLink="/registrar-empleado">
              <ion-icon name="person-add-outline" slot="start"></ion-icon>
              <ion-label>Registrar empleado</ion-label>
            </ion-item>
          </ion-list>
      
          <ion-list *ngIf = "perfilUsuario == 'mozo'" >
            <ion-item routerLink="/">
              <ion-icon name="clipboard-outline" slot="start"></ion-icon>
              <ion-label>Pedidos</ion-label>
            </ion-item>
            <ion-item routerLink="/registrar-empleado">
              <ion-icon name="cash-outline" slot="start"></ion-icon>
              <ion-label>Solicitudes de pago</ion-label>
            </ion-item>
          </ion-list>

          <ion-list *ngIf = "perfilUsuario == 'cocinero'" >
            <ion-item routerLink="/">
              <ion-icon name="clipboard-outline" slot="start"></ion-icon>
              <ion-label>Pedidos</ion-label>
            </ion-item>
          </ion-list>

          <ion-list *ngIf = "perfilUsuario == 'metre'" >
            <ion-item routerLink="/">
              <ion-icon name="scan-outline" slot="start"></ion-icon>
              <ion-label>Solicitudes de mesa</ion-label>
            </ion-item>
          </ion-list>

          <ion-list *ngIf = "perfilUsuario == 'anonimo'" >
            <ion-item routerLink="/">
              <ion-icon name="scan-outline" slot="start"></ion-icon>
              <ion-label>Pedir mesa</ion-label>
            </ion-item>
            <ion-item routerLink="/">
              <ion-icon name="reader-outline" slot="start"></ion-icon>
              <ion-label>Hacer pedido</ion-label>
            </ion-item>
            <ion-item routerLink="/">
              <ion-icon name="stopwatch-outline" slot="start"></ion-icon>
              <ion-label>Ver estado del pedido</ion-label>
            </ion-item>
          </ion-list>

          <ion-list *ngIf = "perfilUsuario == 'bartender'" >
            <ion-item routerLink="/">
              <ion-icon name="reader-outline" slot="start"></ion-icon>
              <ion-label>Pedidos</ion-label>
            </ion-item>
          </ion-list>


          
   
       </ion-content>
       <ion-item (click)="cerrarSesion()">
        <ion-icon  name="log-out"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
    </ion-item>
    </ion-menu> 
    <ion-router-outlet id="main"></ion-router-outlet>
  
    <div *ngIf = "perfilUsuario == 'dueño' || perfilUsuario == 'supervisor'">
      <ion-card *ngFor="let usuario of listaUsuarios">
        {{usuario.nombre}}
        <br>
        {{usuario.apellido}}
        <br>
        {{usuario.correo}}
        <br>
        <ion-button color="success" (click)="organizarUsuario(usuario,2)"> Aceptar</ion-button>
        <ion-button color="danger" (click)="organizarUsuario(usuario,3)"> Rechazar</ion-button>
      </ion-card>
     
    </div> 

     </ion-content> 
      
  </div>
  

 