

<!--   
<ion-header>
    <div  id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Inbox</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content >
        <ion-button expand="block" (onclick)="openMenu()">Open Menu</ion-button>
        <ion-button (click)="redireccionar('atras')" class="btnRegistro"  >Atras</ion-button>
    
      </ion-content>
    </div>
  </ion-header>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      
      <ion-list *ngIf = "perfilUsuario == 'dueño' || perfilUsuario == 'supervisor'" >
        <ion-item>
          <ion-button (click)="redireccionar('atras')" class="btnRegistro"  >Atras</ion-button>
        </ion-item>
        <ion-item>
          <ion-button (click)="redireccionar('empleado')" class="btnRegistro" expand="block"  >Alta empleado</ion-button>
        </ion-item>
        <ion-item>
          <ion-button (click)="redireccionar('supervisor')"class="btnRegistro" expand="block"  >Alta dueño/supervisor</ion-button>
        </ion-item>
      </ion-list>
  
      <ion-list *ngIf = "perfilUsuario == 'cliente' || perfilUsuario == 'metre'" >
        <ion-item>
          <ion-button (click)="redireccionar('atras')" class="btnRegistro"  >Atras</ion-button>
        </ion-item>
        <ion-item>
          <ion-button (click)="redireccionar('cliente')"class="btnRegistro" expand="block"  >Alta cliente</ion-button>
        </ion-item>
  
      </ion-list>
  
      <ion-list *ngIf = "perfilUsuario == 'cocinero' || perfilUsuario == 'mozo'" >
        <ion-item>
          <ion-button (click)="redireccionar('atras')" class="btnRegistro"  >Atras</ion-button>
        </ion-item>
  
      </ion-list>
    </ion-content>
  </ion-menu>
  
  
  
  <ion-router-outlet id="main"></ion-router-outlet>
   -->
   <!--app-menu></app-menu>
<ion-router-outlet id = "principalMozo"></ion-router-outlet>
