
    <div class="ion-page" id="maincontent" >
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start" >
            <ion-menu-button menu="mainmenu" color="light"></ion-menu-button>
          </ion-buttons>
          <ion-title color="light">MAWEY</ion-title>
        </ion-toolbar>

      </ion-header>
    
   <ion-content class="fondo" >
    <ion-content *ngIf="loading" class="ion-padding ion-text-center">
      <!--img src="../../assets/img/icon.png" style="margin-top:50%;position: absolute;left: 34%;" width="112" height="112">
      <ion-spinner name="crescent" color="black" style="margin-top:50%;"></ion-spinner(se bien en el celu de nany)-->
      <img src="../../assets/img/icon.png" style="margin-top:50%;position: absolute;left: 36%;" width="112" height="112">
      <ion-spinner name="crescent" color="black" style="margin-top:50%;"></ion-spinner>
  </ion-content>
     <ion-menu side="start" menuId="mainmenu" contentId="main">
    
      



      <ion-content > 
<!--SUPERVISOR-DUEÑO-->
          <ion-list *ngIf = "perfilUsuario == 'dueño' || perfilUsuario == 'supervisor'"  >
            <ion-item>
              <img src="../../assets/img/supervisorDueño.png" style=" height: 110%; width: 60%; ">
  
            <ion-label color="light">
              <h2>Nombre :</h2> <p> {{infoUsuario.nombre}}</p>
              <h2>Perfil : </h2><p> {{infoUsuario.perfil}}</p>
            </ion-label>
  
          </ion-item>
            <ion-item routerLink="/registrar-empleado" >
              <ion-icon name="person-add-outline" slot="start"  color="light"></ion-icon>
              <ion-label color="light">Registrar empleado</ion-label>
            </ion-item>
          </ion-list>
      <!--MOZO-->
          <ion-list *ngIf = "perfilUsuario == 'mozo'" >
            <ion-item>
              <img src="../../assets/img/mozo.png" style=" height: 110%; width: 60%; ">
  
            <ion-label color="light">
              <h2>Nombre :</h2> <p> {{infoUsuario.nombre}}</p>
              <h2>Perfil : </h2><p> {{infoUsuario.perfil}}</p>
            </ion-label>
  
          </ion-item>

            <ion-item routerLink="/pedido">
             <ion-icon slot="start" name="receipt"></ion-icon>
              <ion-label> Pedidos <ion-badge *ngIf="cantPedido>0"color="primary" slot="end">{{cantPedido}}</ion-badge></ion-label>
              
            </ion-item>
            <ion-item *ngIf="cantPedidoListo>0" routerLink="/pedido">
              <ion-icon slot="start" name="checkmark"></ion-icon>
              <ion-label>Pedidos Listos <ion-badge *ngIf="cantPedidoListo>0"  color="primary" slot="end">{{cantPedidoListo}}</ion-badge></ion-label>
              
            </ion-item>
            <ion-item routerLink="/consultas">
              <ion-icon slot="start" name="hand-left"></ion-icon>
              <ion-label>Consultas<ion-badge *ngIf="cantConsulta>0"color="primary" slot="end">{{cantConsulta}}</ion-badge></ion-label>
              
            </ion-item>
          
            <ion-item routerLink="/registrar-empleado">
              <ion-icon name="cash-outline" slot="start"></ion-icon>
              <ion-label>Solicitudes de pago</ion-label>
            </ion-item>
          </ion-list>
    <!--COCINERO-->
          <ion-list *ngIf = "perfilUsuario == 'cocinero'" >
            <ion-item>
              <img src="../../assets/img/cocineroblanco.png" style=" height: 110%; width: 60%; ">
  
            <ion-label color="light">
              <h2>Nombre :</h2> <p> {{infoUsuario.nombre}}</p>
              <h2>Perfil : </h2><p> {{infoUsuario.perfil}}</p>
            </ion-label>
  
          </ion-item>
            <ion-item routerLink="/pedido-cocinero">
              <ion-icon name="clipboard-outline" slot="start"></ion-icon>
              <ion-label>Pedidos</ion-label>
            </ion-item>
          </ion-list>
 <!--METRE-->
          <ion-list *ngIf = "perfilUsuario == 'metre'" >
            <ion-item>
              <img src="../../assets/img/metre.png" style=" height: 110%; width: 60%; ">
  
            <ion-label color="light">
              <h2>Nombre :</h2> <p> {{infoUsuario.nombre}}</p>
              <h2>Perfil : </h2><p> {{infoUsuario.perfil}}</p>
            </ion-label>
  
          </ion-item>
            <ion-item routerLink="/">
              <ion-icon name="scan-outline" slot="start"></ion-icon>
              <ion-label>Solicitudes de mesa</ion-label>
            </ion-item>
          </ion-list>
<!--ANONIMO-CLIENTE-->
          <ion-list *ngIf = "perfilUsuario == 'anonimo'  || perfilUsuario == 'cliente'" >
            <ion-item>
              <img src="../../assets/img/avatarRR.png" style=" height: 80%; width: 40%;" class="imagenAnonimo">
  
            <ion-label color="light">
              <h2>Nombre : </h2> <p> {{infoUsuario.nombre}}</p>
              <h2>Perfil : </h2><p> {{infoUsuario.perfil}}</p>
            </ion-label>
  
          </ion-item>
            <ion-item routerLink="/pedir-mesa">
              <ion-icon name="scan-outline" slot="start"></ion-icon>
              <ion-label>Pedir mesa</ion-label>
            </ion-item>
            <ion-item routerLink="/hacer-pedido">
              <ion-icon name="reader-outline" slot="start"></ion-icon>
              <ion-label>Hacer pedido</ion-label>
            </ion-item>

            <ion-item (click)="realizoPedido(localStorage.getItem('mesaCliente'))" routerLink="/home">
              <ion-icon name="stopwatch-outline" slot="start"></ion-icon>
              <ion-label>Ver estado del pedido</ion-label>
            </ion-item>
            <ion-item routerLink="/encuenta">
              <ion-icon slot="start" name="help"></ion-icon>
               <ion-label> Encuesta</ion-label>
               
             </ion-item>
          </ion-list>
<!--BARTENDER-->
          <ion-list *ngIf = "perfilUsuario == 'bartender'" >
            <ion-item>
              <img src="../../assets/img/bartender.png" style=" height: 110%; width: 60%; ">
  
            <ion-label color="light">
              <h2>Nombre :</h2> <p> {{infoUsuario.nombre}}</p>
              <h2>Perfil : </h2><p> {{infoUsuario.perfil}}</p>
            </ion-label>
  
          </ion-item>
            <ion-item routerLink="/pedido-bartender">
              <ion-icon name="reader-outline" slot="start"></ion-icon>
              <ion-label>Pedidos</ion-label>
            </ion-item>
          </ion-list>


          
   
       </ion-content>
       <ion-item (click)="cerrarSesion()">
        <ion-icon  name="log-out"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
    </ion-item>
    </ion-menu> 
    <ion-router-outlet id="main"></ion-router-outlet>
<!----------------------------------SUPERVISOR-DUEÑO------------------------------------------->  
    <div *ngIf = "perfilUsuario == 'dueño' || perfilUsuario == 'supervisor'">
      <ion-card class="titulo">
      <h2>CLIENTES PENDIENTES</h2>
    </ion-card>
      <div  *ngFor="let usuario of listaUsuarios">
      
      <ion-card class="nombre">
        <br>
          <img [src]="usuario.foto" style=" height: 70%; width: 20%; " class="imag">
       
        <br>
        {{usuario.nombre}}  {{usuario.apellido}}
        <br>
        {{usuario.correo}}
        <br>
        <br>
        <ion-button color="medium" (click)="organizarUsuario(usuario,2)" style="border-radius: 100px;">
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-button>
        <ion-button color="success" (click)="organizarUsuario(usuario,3)" style="border-radius: 100px;"> 
          <ion-icon name="trash-bin"></ion-icon>
        </ion-button>
        <br>
      </ion-card>
    </div> 
     
    </div> 
    
    <div *ngIf = "perfilUsuario == 'metre'">
   
      <ion-card *ngFor="let mesa of listaEspera">
        
        <div *ngIf = "mesa.estadoMesa == 'enEspera'">
          <ion-card-content>
            <ion-icon name="person"></ion-icon>
            {{mesa.nombreUsuario}} {{mesa.apellidoUsuario}}
            <br>
            <ion-icon name="star"></ion-icon>
            {{mesa.perfilUsuario}}
            <br>
            <!-- {{mesa.estadoMesa}}
            <br> -->
            <ion-button color="success" (click)="comprobarMesas(mesa)" expand="block"> Asignar mesa</ion-button>
          </ion-card-content>
        
        
       </div>
    
      </ion-card>
    
    </div> 
 <!--------------------------------------MOZO-BARTENDER-COCINERO------------------------------------------------------------------->   
    <div *ngIf = "perfilUsuario == 'mozo' || perfilUsuario == 'bartender' || perfilUsuario == 'cocinero'">
    
      
            <ion-card style="color: white; font-size: x-large; text-align: center; top: 50px; border: black 4px solid;">
           <p>Recorda revisar el menu principal para ver las notificaciones pendientes!</p>
          </ion-card>
           <ion-card style="top: 80px; border: black 4px solid;">
         <img src="../../assets/img/check1.png">
         <!--img src="../../assets/img/check2.png"-->  
        </ion-card>
      </div>
<!--------------------------------------MOZO-------------------------------------------------------------------> 
     <div *ngIf = "perfilUsuario == 'mozo' ">
    
      

     </div>
      <!------------------------------------ANONIMO-CLIENTE--------------------------------------------->
    
   
    <div *ngIf = "perfilUsuario == 'cliente' || perfilUsuario == 'anonimo'">
    
      <div *ngIf = "informarEstadoMesa.seAsignoMesa == 'no'">
           <ion-card style="color: black; font-size: xx-large; text-align: center; top: 10px;">
           <i><b>¡Bienvenido/a {{infoUsuario.nombre}}!</b></i>
          </ion-card>
          <ion-card style="color: black; font-size: x-large; text-align: center; top: 20px;">
           <b>Para solicitar su mesa y estar en la lista de espera del metre
              debe escanear el QR en la sección "PEDIR MESA" del menu.
           </b>
           </ion-card>
         

           <img style="top: 40px;" src="../../assets/img/2a94a07c97823e03b233e2bba561a815.png" >
         
          <ion-card style="color: black; font-size: x-large; text-align: center; top: 50px;">
           <b>Deseamos que disfrute su estadia en MAWEY</b>
          </ion-card>
      </div>
    <!-- Si el estado de la mesa del cliente se asigno, se le mostrara la mesa que se le asigno   -->
      <div *ngIf = "informarEstadoMesa.seAsignoMesa == 'si'">
        <ion-card style="border: black 2px solid;">
          <h2>
            <p style="text-align: center; color: white; ">
              MESA ASIGNADA:  {{informarEstadoMesa.mesa}}
            </p>
          </h2>
       
      </ion-card>
      
    <ion-button  size="large" (click)="qrMesa()" style="width: 375px; left: 10px; position: relative;">QR Mesa</ion-button>

      <ion-card *ngIf = "mostrarProductos == false" style="border: black 2px solid;">
        <h2>
          <p style="text-align: center; color: white; ">
           Escanee el QR de la mesa para poder acceder al menu y realizar el pedido!
          </p>
        </h2>
     
       
    </ion-card>
    <div *ngIf = "mostrarProductos == true">

      <ion-button color="success" href="/lista-productos" expand="block">Ver menú</ion-button>

    </div>





    <div *ngIf="mostrarCuentaBoton == true">
      <ion-button color="light" (click)="mostrarEncuestaLista()"  expand="block">Encuesta</ion-button>
    </div>
    
   

    <div *ngIf = "mostrarEncuestaDiv == true">
        
      <ion-card >
        <h2 align="center">Encuesta</h2>
    
        <div *ngIf="this.jsonEncuesta.fotos.length != 3">
         <ion-fab-button color="primary"  color="light"  horizontal="center" vertical="top" (click)="tomarTresFotografias"><ion-icon name="camera-outline"></ion-icon></ion-fab-button>
        </div>
    
        <div *ngIf="jsonEncuesta.fotos.length == 3">
         <div *ngFor="let foto of jsonEncuesta.fotos ">
           <img [src]="foto" alt="">
         </div>
        </div>
    
        <br>
        <div>¿Qué le parecio nuesta app?</div>
         <div align="center">
           <span *ngIf="gradoSatisfaccion ==1" style="margin-left:10px">Muy mala <span
                   style="font-size: 150%;">😡</span></span>
           <span *ngIf="gradoSatisfaccion==2 " style="margin-left:10px">Mala<span
                   style="font-size: 150%;">😠</span></span>
           <span *ngIf="gradoSatisfaccion ==3" style="margin-left:10px">Regular<span
                   style="font-size: 150%;">😐</span></span>
           <span *ngIf="gradoSatisfaccion==4 " style="margin-left:10px">Buena<span
                   style="font-size: 150%;">🙂</span></span>
           <span *ngIf="gradoSatisfaccion == 5" style="margin-left:10px">Muy buena<span
                   style="font-size: 150%;">😊</span></span>
       </div>
        <ion-card-content>
         <ion-item color="success">
           <ion-range (ionChange)="cambioRango($event)" min="1" max="5" pin="true" color="light"  >
             <ion-icon size="small" slot="start" name="sunny"></ion-icon>
             <ion-icon slot="end" name="sunny"></ion-icon>
           </ion-range>
    
         </ion-item>
        </ion-card-content>
        <div>¿Que le parecio el servicio del restaurante?</div>
        <div align="center">
          <span *ngIf="gradoSatisfaccionRes ==1" style="margin-left:10px">Muy mala <span
                  style="font-size: 150%;">😡</span></span>
          <span *ngIf="gradoSatisfaccionRes==2 " style="margin-left:10px">Mala<span
                  style="font-size: 150%;">😠</span></span>
          <span *ngIf="gradoSatisfaccionRes ==3" style="margin-left:10px">Regular<span
                  style="font-size: 150%;">😐</span></span>
          <span *ngIf="gradoSatisfaccionRes==4 " style="margin-left:10px">Buena<span
                  style="font-size: 150%;">🙂</span></span>
          <span *ngIf="gradoSatisfaccionRes == 5" style="margin-left:10px">Muy buena<span
                  style="font-size: 150%;">😊</span></span>
       </div>
       <ion-card-content>
        <ion-item color="success">
          <ion-range (ionChange)="cambioRangoRes($event)" min="1" max="5" pin="true" color="light"  >
            <ion-icon size="small" slot="start" name="sunny"></ion-icon>
            <ion-icon slot="end" name="sunny"></ion-icon>
          </ion-range>
    
        </ion-item>
    
       </ion-card-content>
       
       <ion-grid>
         <ion-row>
           <ion-col col-6>
             <ion-button (click)="enviarEncuesta()" expand="block" color="success">Enviar</ion-button>
            </ion-col>
           <ion-col col-6>
             <ion-button (click)="verEncuestas()" expand="block" color="warning">Cancelar</ion-button>
           </ion-col>
         </ion-row>
       </ion-grid>
      
     </ion-card>
         
     </div>
  
</div>

    
    </div>




     </ion-content> 
      
  </div>
  

 