<ion-header>
  <ion-toolbar>
    <ion-title>pedido-bartender</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div *ngFor = "let pedido of listaPedido">
 
      
        <button color="light" (click)="mostrarPedido(pedido.mesa,pedido.platosBebida)">Pedido para la mesa N {{pedido.mesa}}
          <ion-icon name="chevron-forward"></ion-icon>
        </button>

        <div *ngIf="mostrar== true && mesa== pedido.mesa">
           
          <div  *ngFor = "let pedido of pedido.platosBebida" >
            {{pedido}} <br>---------------
          </div>      
        <div *ngIf = "nany === 0 && pedido.estadoBartender ==='pendiente'">
        <button (click)="elaborarPedido(pedido.mesa)">Elaborar Pedido</button>
      </div>
      <div *ngIf = "nany === 1">
        <button (click)="pedidoListo(pedido.mesa)">Listo</button>
      </div>
      </div>

  </div>

</ion-content>
