
<ion-content padding class="background">


<ion-card >

  <ion-card-content>

    <h1 id="litheader">INGRESAR</h1>

      <!--<ion-item>
        <ion-icon name="at-circle" color="primary"></ion-icon>
        <ion-input [(ngModel)]="email" type = "text" name = "nEmail"> </ion-input>
      </ion-item>-->

      <ion-input [(ngModel)]="email" type = "text" name = "nEmail"> </ion-input>


      <!--<ion-item>
        <ion-icon name="medical" color="primary"></ion-icon>
        <ion-input [(ngModel)]="password" type = "password"  name = "nPassword"> </ion-input>
      </ion-item>-->

      <br>

      <ion-input [(ngModel)]="password" type = "password"  name = "nPassword"> </ion-input>


      <!--<ion-button (click)="onSubmitLogin()" class = "botonesExpandidos" expand = "full" color="tertiary" size="large"> Ingresar </ion-button>

      <ion-button (click)="onClearAll()" class = "botonesExpandidos" expand = "full" color="danger" size="large"> Limpiar </ion-button>-->
  
      <br>
      
      <div id="container">


      <input  (click)="onSubmitLogin()" type="submit" name="Login" id="go" value=">">
      <br>
      <br>
      <input (click)="onClearAll()" type="submit" class="limpiar" name="Login" id="go" value="X">


      </div>
      

    </ion-card-content>


</ion-card>



<div id="container">
  <ion-item>
    <ion-label>Seleccion Usuario</ion-label>
    <ion-select id="selectUser" [(ngModel)]="pickedName" interface="popover" placeholder="Seleccione un usuario" (ionChange)="pickUser(pickedName)">
        <ion-select-option *ngFor="let usuario of users" value="{{usuario.perfil}}">{{usuario.perfil}}</ion-select-option>
    </ion-select>
</ion-item>

</div>




</ion-content>
