<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;" color="light">REGISTRAR CLIENTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background"> 
  <ion-avatar >
    <img src={{cliente.foto}}>
  </ion-avatar>

  <ion-button  (click)="tomarFoto()" color ="primary" class="camera"><ion-icon name="camera" ></ion-icon></ion-button>



      <ion-card class="cliente" *ngIf="pickedName=='Cliente'">
        <br> 
        <ion-item  class="item"> 
          <ion-label>Ingrese como:</ion-label>
          <ion-select [(ngModel)]="pickedName" interface="popover" 
           (ionChange)="pickUser(pickedName)">
              <ion-select-option *ngFor="let clientes of clientes" value="{{clientes.perfil}}"
                color="light">{{clientes.perfil}}</ion-select-option>
          </ion-select> 
      </ion-item>
    <br>

    <form [formGroup]="todo">
    <ion-item class="labels" fill="outline">
      <br>
      <ion-input type="text" [(ngModel)]="nombre" formControlName="nombre" placeholder="Nombre"></ion-input>
    </ion-item>
    <br>
    <ion-item class="labels" >
     
      <br>
      <ion-input type="text" [(ngModel)]="apellido"  formControlName="apellido" placeholder="Apellido"></ion-input>
    </ion-item>
    <br>
    <ion-item class="label" >
     
      <br>
      <ion-input type="text" [(ngModel)]="dni" formControlName="dni" placeholder="DNI"></ion-input>
    </ion-item>
    <br>
   <img src="../../../assets/img/qr.png" (click)="escanearCodigo()" class="botonQR">
  
    <br>
    <ion-item class="labels" fill="outline">     
      <br>
      <ion-input type="text" [(ngModel)]="correo" formControlName="email" placeholder="Email"></ion-input>
    </ion-item>
    <br>
    <ion-item class="labels" fill="outline"> 
      <br>
      <ion-input type="text" [(ngModel)]="password" formControlName="contraseña" placeholder="Contraseña"></ion-input>
    </ion-item>

  </form>
    <br>
    <ion-button (click)="registrarUsuario()" class="btnRegistro" expand="block" fill="outline" class="botonR">Registrarse</ion-button>
    <br>
    




</ion-card>
<ion-card *ngIf="pickedName==='Anonimo'" class="anonimo" >
  <br> 
  <ion-item  class="item"> 
    <ion-label>Ingrese como:</ion-label>
    <ion-select [(ngModel)]="pickedName" interface="popover" 
     (ionChange)="pickUser(pickedName)">
        <ion-select-option *ngFor="let clientes of clientes" value="{{clientes.perfil}}"
          color="light">{{clientes.perfil}}</ion-select-option>
    </ion-select> 
</ion-item>
<br>
    <ion-item fill="outline">
      <br>
      <ion-input type="text" [(ngModel)]="nombre" placeholder="Nombre"></ion-input>
    </ion-item>
    <br>
    <ion-item>
        <ion-input type="text" [(ngModel)]="correo" placeholder="Email"></ion-input>
      </ion-item>
      <br>
      <ion-item class="labels" fill="outline">   
        <br>
        <ion-input type="text" [(ngModel)]="password" placeholder="Contraseña"></ion-input>
        
      </ion-item>
      <br>
      <ion-button (click)="registrarUsuario()" class="btnRegistro" expand="block" fill="outline" class="botonR">Registrarse</ion-button>
      <br>
</ion-card>


</ion-content>
