<ion-header>
  <ion-toolbar>
    <ion-title>registrar cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>

      <ion-card>
        
    <ion-item class="labels" fill="outline">
      <!-- <ion-label position="stacked" >Nombre</ion-label> -->
      <br>
      <ion-input type="text" [(ngModel)]="nombre" placeholder="Nombre..."></ion-input>
    </ion-item>
    <ion-item class="labels" >
      <!-- <ion-label position="stacked"  >Apellido</ion-label> -->
      <br>
      <ion-input type="text" [(ngModel)]="apellido" placeholder="Apellido..."></ion-input>
    </ion-item>
    <ion-item class="labels" >
      <!-- <ion-label position="stacked"  >DNI</ion-label> -->
      <br>
      <ion-input type="text" [(ngModel)]="nombre" placeholder="DNI..."></ion-input>
    </ion-item>
    <ion-item class="labels" >
      <!-- <ion-label position="stacked"  >CUIL</ion-label> -->
      <br>
      <ion-input type="text" [(ngModel)]="nombre" placeholder="CUIL..."></ion-input>
    </ion-item>

    <ion-button (click)="registrarUsuario()" class="btnRegistro" expand="block">Registrarse</ion-button>
    <ion-button (click)="nada()" class="btnRegistro" expand="block">QR DNI</ion-button>
  
    </ion-card>


</ion-content>
